<div class="welcome-page">
  <div class="main-container" >
    <div class="content-container">
      <h1>
        myFlix React App
      </h1>
      <div class="buttons-container">
        <button mat-raised-button (click)="openUserRegistrationDialog()" class="button"
          style="margin-right: 10px;"
          color="primary"
        >
          Sign Up
        </button>

        <button mat-raised-button (click)="openUserLoginDialog()" class="button"   
          color="primary"
        >
          Login
        </button>
      </div>  
    </div>  
  </div>
</div>