.movies-page {
  background-color: blue;
  padding: 70px;
}

.cards-container {  
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  margin: auto;  
  grid-gap: 50px;
}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 16px;
}


